Repository quexten/clients, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bitwarden/team-secrets-manager-dev, @bitwarden/team-auth-dev, @bitwarden/team-tools-dev, @bitwarden/team-vault-dev, @bitwarden/team-admin-console-dev, @bitwarden/team-billing-dev, @bitwarden/team-platform-dev, @bitwarden/team-autofill-dev, @bitwarden/team-design-system, @bitwarden/team-key-management-dev, @bitwarden/dept-bre

Setup flathub
  .github/workflows/build-desktop.yml
Owners: none

Update build-desktop.yml
  .github/workflows/build-desktop.yml
Owners: none

Update build-desktop.yml
  .github/workflows/build-desktop.yml
Owners: none

Update build-desktop.yml
  .github/workflows/build-desktop.yml
Owners: none

Update build-desktop.yml
  .github/workflows/build-desktop.yml
Owners: none

Update build-desktop.yml
  .github/workflows/build-desktop.yml
Owners: none

Update build.js
  apps/desktop/desktop_native/build.js
Owners: @bitwarden/team-platform-dev

Update build-desktop.yml
  .github/workflows/build-desktop.yml
Owners: none

Update electron-builder.json
  apps/desktop/electron-builder.json
Owners: none

Fix build order
  .github/workflows/build-desktop.yml
Owners: none

Implement rust fido2 for desktop mac and linux
  apps/browser/src/platform/services/platform-utils/browser-platform-utils.service.ts
  apps/cli/src/platform/services/cli-platform-utils.service.ts
  apps/desktop/desktop_native/Cargo.lock
  apps/desktop/desktop_native/core/Cargo.toml
  apps/desktop/desktop_native/core/src/fido2_client/mod.rs
  apps/desktop/desktop_native/core/src/lib.rs
  apps/desktop/desktop_native/napi/index.d.ts
  apps/desktop/desktop_native/napi/src/lib.rs
  apps/desktop/src/main.ts
  apps/desktop/src/platform/main/webauthn-listener.ts
  apps/desktop/src/platform/preload.ts
  apps/desktop/src/platform/services/electron-platform-utils.service.ts
  apps/web/src/app/core/web-platform-utils.service.ts
  libs/angular/src/auth/components/two-factor-auth/two-factor-auth-webauthn.component.ts
  libs/common/src/platform/abstractions/platform-utils.service.ts
Owners: @bitwarden/team-platform-dev, @bitwarden/team-auth-dev

Fix build
  .github/workflows/build-desktop.yml
Owners: none

Fix test build
  .github/workflows/test.yml
Owners: none

Fix build
  .github/workflows/test.yml
Owners: none

Cleanup
  .github/workflows/test.yml
  apps/desktop/desktop_native/core/src/lib.rs
Owners: @bitwarden/team-platform-dev

Add permission for snap and flatpak
  apps/desktop/electron-builder.json
  apps/desktop/resources/com.bitwarden.desktop.devel.yaml
Owners: none

.github/CODEOWNERS:

# Please sort into logical groups with comment headers. Sort groups in order of specificity.
# For example, default owners should always be the first group.
# Sort lines alphabetically within these groups to avoid accidentally adding duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

## Secrets Manager team files ##
bitwarden_license/bit-web/src/app/secrets-manager @bitwarden/team-secrets-manager-dev
apps/web/src/app/secrets-manager/ @bitwarden/team-secrets-manager-dev

## Auth team files ##
apps/browser/src/auth @bitwarden/team-auth-dev
apps/cli/src/auth @bitwarden/team-auth-dev
apps/desktop/src/auth @bitwarden/team-auth-dev
apps/web/src/app/auth @bitwarden/team-auth-dev
libs/auth @bitwarden/team-auth-dev
# web connectors used for auth
apps/web/src/connectors @bitwarden/team-auth-dev
bitwarden_license/bit-web/src/app/auth @bitwarden/team-auth-dev
libs/angular/src/auth @bitwarden/team-auth-dev
libs/common/src/auth @bitwarden/team-auth-dev

## Tools team files ##
apps/browser/src/tools @bitwarden/team-tools-dev
apps/cli/src/tools @bitwarden/team-tools-dev
apps/desktop/src/app/tools @bitwarden/team-tools-dev
apps/web/src/app/tools @bitwarden/team-tools-dev
libs/angular/src/tools @bitwarden/team-tools-dev
libs/common/src/models/export @bitwarden/team-tools-dev
libs/common/src/tools @bitwarden/team-tools-dev
libs/importer @bitwarden/team-tools-dev
libs/tools @bitwarden/team-tools-dev
bitwarden_license/bit-web/src/app/tools @bitwarden/team-tools-dev
bitwarden_license/bit-common/src/tools @bitwarden/team-tools-dev

## Localization/Crowdin (Tools team)
apps/browser/src/_locales @bitwarden/team-tools-dev
apps/browser/store/locales @bitwarden/team-tools-dev
apps/cli/src/locales @bitwarden/team-tools-dev
apps/desktop/src/locales @bitwarden/team-tools-dev
apps/web/src/locales @bitwarden/team-tools-dev

## Vault team files ##
apps/browser/src/vault @bitwarden/team-vault-dev
apps/cli/src/vault @bitwarden/team-vault-dev
apps/desktop/src/vault @bitwarden/team-vault-dev
apps/web/src/app/vault @bitwarden/team-vault-dev
libs/angular/src/vault @bitwarden/team-vault-dev
libs/common/src/vault @bitwarden/team-vault-dev
libs/vault @bitwarden/team-vault-dev

## Admin Console team files ##
apps/browser/src/admin-console @bitwarden/team-admin-console-dev
apps/cli/src/admin-console @bitwarden/team-admin-console-dev
apps/desktop/src/admin-console @bitwarden/team-admin-console-dev
apps/web/src/app/admin-console @bitwarden/team-admin-console-dev
bitwarden_license/bit-web/src/app/admin-console @bitwarden/team-admin-console-dev
bitwarden_license/bit-cli/src/admin-console @bitwarden/team-admin-console-dev
libs/angular/src/admin-console @bitwarden/team-admin-console-dev
libs/common/src/admin-console @bitwarden/team-admin-console-dev
libs/admin-console @bitwarden/team-admin-console-dev

## Billing team files ##
apps/browser/src/billing @bitwarden/team-billing-dev
apps/web/src/app/billing @bitwarden/team-billing-dev
libs/angular/src/billing @bitwarden/team-billing-dev
libs/common/src/billing @bitwarden/team-billing-dev
libs/billing @bitwarden/team-billing-dev
bitwarden_license/bit-web/src/app/billing @bitwarden/team-billing-dev

## Platform team files ##
apps/browser/src/platform @bitwarden/team-platform-dev
apps/cli/src/platform @bitwarden/team-platform-dev
apps/desktop/src/platform @bitwarden/team-platform-dev
apps/web/src/app/platform @bitwarden/team-platform-dev
libs/angular/src/platform @bitwarden/team-platform-dev
libs/common/src/platform @bitwarden/team-platform-dev
libs/common/spec @bitwarden/team-platform-dev
libs/common/src/state-migrations @bitwarden/team-platform-dev
libs/platform @bitwarden/team-platform-dev
# Node-specifc platform files
libs/node @bitwarden/team-platform-dev
# Web utils used across app and connectors
apps/web/src/utils/ @bitwarden/team-platform-dev
# Web core and shared files
apps/web/src/app/core @bitwarden/team-platform-dev
apps/web/src/app/shared @bitwarden/team-platform-dev
apps/web/src/translation-constants.ts @bitwarden/team-platform-dev

## Autofill team files ##
apps/browser/src/autofill @bitwarden/team-autofill-dev
apps/desktop/src/autofill @bitwarden/team-autofill-dev
libs/common/src/autofill @bitwarden/team-autofill-dev
# DuckDuckGo integration
apps/desktop/native-messaging-test-runner @bitwarden/team-autofill-dev
apps/desktop/src/services/native-message-handler.service.ts @bitwarden/team-autofill-dev

## Component Library ##
.storybook @bitwarden/team-design-system
libs/components @bitwarden/team-design-system
apps/browser/src/platform/popup/layout @bitwarden/team-design-system
apps/web/src/app/layouts @bitwarden/team-design-system

## Desktop native module ##
apps/desktop/desktop_native @bitwarden/team-platform-dev

## Key management team files ##
apps/desktop/src/key-management @bitwarden/team-key-management-dev
apps/web/src/app/key-management @bitwarden/team-key-management-dev
apps/browser/src/key-management @bitwarden/team-key-management-dev
apps/cli/src/key-management @bitwarden/team-key-management-dev
libs/key-management @bitwarden/team-key-management-dev

apps/desktop/destkop_native/core/src/biometric/ @bitwarden/team-key-management-dev
apps/desktop/src/services/native-messaging.service.ts @bitwarden/team-key-management-dev
apps/browser/src/background/nativeMessaging.background.ts @bitwarden/team-key-management-dev

## Locales ##
apps/browser/src/_locales/en/messages.json
apps/browser/store/locales/en
apps/cli/src/locales/en/messages.json
apps/desktop/src/locales/en/messages.json
apps/web/src/locales/en/messages.json

## BRE team owns these workflows ##
.github/workflows/brew-bump-desktop.yml @bitwarden/dept-bre
.github/workflows/deploy-web.yml @bitwarden/dept-bre
.github/workflows/publish-cli.yml @bitwarden/dept-bre
.github/workflows/publish-desktop.yml @bitwarden/dept-bre
.github/workflows/publish-web.yml @bitwarden/dept-bre
.github/workflows/retrieve-current-desktop-rollout.yml @bitwarden/dept-bre
.github/workflows/staged-rollout-desktop.yml @bitwarden/dept-bre

## Shared ownership workflows ##
.github/workflows/release-browser.yml
.github/workflows/release-cli.yml
.github/workflows/release-desktop-beta.yml
.github/workflows/release-desktop.yml
.github/workflows/release-web.yml
.github/workflows/version-auto-bump.yml
.github/workflows/version-bump.yml

## Docker files have shared ownership ##
**/Dockerfile
**/*.Dockerfile
**/.dockerignore
**/entrypoint.sh
